.layout-tools {
  .layout-tool-btn {
    float: left;
    margin-left: 0;
    padding: 18px 18px;
    height: 56px;
    border-width: 0;
    border-radius: 0;
    background-color: transparent;
    -webkit-app-region: no-drag;

    .layout_tools_ico {
      opacity: .6;
    }

    &:hover,
      //&:focus,
    &:active {
      background-color: #092b91;
      border: none;

      .layout_tools_ico {
        opacity: 1;
      }
    }

    &.layout_close {
      &:hover,
        //&:focus,
      &:active {
        background-color: #ff617f;
      }
    }
  }
}

$laout-list: refresh, lists, minimize, maximize, restore, close;
.layout_tools_ico {
  &:before {
    content: '';
    display: inline-block;
    width: 20px;
    height: 20px;
    background: {
      image: url("../assets/img/layout_tools_ico.png");
      size: 120px 20px;
    }
  }

  @each $name, $value in $laout-list {
    &.layout_#{$name} {
      &:before {
        background: {
          position: -((index($laout-list,$name)-1)*20px) 0;
        }
      }
    }
  }
}

.el-checkbox.small {
  .el-checkbox__label {
    font-size: 12px;

    a {
      color: #1c4ddf;
    }
  }
}